.footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
background-color: $black;

    @media only screen and (max-width: $mobile-breakpoint) {
    height: auto;
  }


  &__email{
      display: flex;
    
      .formfield label{
        color: $cta;
      }

    @media only screen and (max-width: $mobile-breakpoint) {
   flex-direction: column;
      }

      .formfield:not(:first-child){
          margin-right: 0% !important;
      }

    }

&__links{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    height: 20vh;
    align-items: center;
}

}