.header {
  height: 12vh;
  background-color: $black;

  &_nav {
    height: 100%;

    &_inner {
      height: 100%;
    }
  }

  &_logo {
    font-size: 2.4rem;
    color: $white;
    display: flex;
    align-items: center;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100px;
      margin-right: 2rem;
    }
  }

  &_list {
    width: 55%;
    &_link {
      color: $white;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $tablet-breakpoint) {
        // display: none;
        justify-content: flex-end;
        padding: 1rem 4rem;
      }

      a {
        font-size: 1.7rem;
        transition: all 0.2s;

        &:hover {
          color: $cta;
        }
        @media only screen and (max-width: $tablet-breakpoint) {
          // display: none;
          &:hover {
            color: black;
          }
        }
      }
    }

    @media only screen and (max-width: $tablet-breakpoint) {
      position: absolute;
      top: 12vh;
      z-index: 10;
      width: 100%;
      display: flex;
      flex-direction: column;
      left: 0rem;
      background-color: $cta;
    }
  }
  @media only screen and (max-width: $tablet-breakpoint) {
    width: auto;
    justify-content: flex-end;
  }
}
