.header {
  height: 12vh;
    background-color: $black;

  &_nav {
    height: 100%;

    &_inner{
        height: 100%;
    }
  }

  &_logo {
    font-size: 2rem;
    color: $white;
  }

  &_list {
    width: 50%;
    &_link {
      color: $white;
      display: flex;
      align-items: center;
      @media only screen and (max-width: $tablet-breakpoint) {
        display: none;
      }

     a {
        font-size: 1.4rem;
        transition: all 0.2s;
         &:hover {
      color: $cta;   
     }

  
    }
   
  }
    }
    @media only screen and (max-width: $tablet-breakpoint) {
      width: auto;
      justify-content: flex-end;
    }
  }
