.mt-m {
  margin-top: 2rem;
}

.mr-m {
  margin-right: 2rem;
}
.mr-l {
  margin-right: 3rem;
}
.mr-s {
  margin-right: 1rem;
}
.underline {
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}
.mt-l {
  margin-top: 3.5rem;
}
.mt-xl {
  margin-top: 6rem;
}
.mb-s {
  margin-bottom: 1.3rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-xl {
  margin-bottom: 6rem;
}
.mb-l {
  margin-bottom: 3.5rem;
}
.ml-s {
  margin-left: 1rem;
}
.ml-m {
  margin-left: 2rem;
}
.ml-l {
  margin-left: 3.5rem;
}
.m-hide {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.t-hide {
  @media only screen and (max-width: $tablet-breakpoint) {
    display: none !important;
  }
}

.t-show {
  @media only screen and (min-width: $tablet-breakpoint) {
    display: none;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    display: inline-block;
  }
}

.t-w100 {
  @media only screen and (max-width: $tablet-breakpoint) {
    width: 100% !important;
  }
}

.mt-s {
  margin-top: 1rem;
}

.cta-link a{
    background: $cta;
    padding: 1.3rem 3rem;
    color: $black !important;
}

.border-round{
    border-radius: 3px;
}

.m-abs {
  @media only screen and (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heading {
  font-weight: 800;
  text-transform: uppercase;
}

.container_sub {
  // padding: 0 2rem;
  margin: auto;

  max-width: 1700px;
  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    padding: 0rem;
  }
}

.overlay_text {
  font-size: 10rem;
  color: rgb(20, 20, 20);
  font-weight: 800;

  @media only screen and (max-width: $tablet-breakpoint) {
    font-size: 20rem;
  }
}

.container_right {
  overflow: hidden;
  margin-left: auto;
  max-width: 1200px;
  width: 70%;

  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    padding: 0rem;
    width: 100%;
  }
}

.modern {
  &_input {
    border: none;
    border-bottom: 1px solid $white;
    outline: none;
    background-color: transparent;

    ::placeholder {
      color: $white;
    }
  }
}

.pabs-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.flex{
    display: flex;
}

.jus-cen{
    justify-content: center;
}

.space-bet{
    justify-content: space-between;
}

.align-cen{
    align-items: center;
}


   .swiper-container {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      top: 0;
      align-items: center;
    }

    .swiper-wrapper{
      order: 2;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 42rem;
      width: 300px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }